/*********FONT-FACE*************/

@font-face {
font-family: 'Wisdom Script Regular';
font-style: normal;
font-weight: normal;
src: url('../fonts/Wisdom Script AJ.woff') format('woff');
}

/*********BASE STYLE************/

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
	margin: 20px;
	padding: 0;
}

/*********GRID******************/

.full-width {
	width: 1245px;
	/*margin: 0 auto;*/
}

.third-width {
	/*border-top: 1px solid #dedbdc;*/
	float: left;
	height: auto;
	width: 360px;
}

.half-width {
	width: 600px;
	float: left;
	margin: 0;
}

/*******HEADER*************/

h1 {
	font-size: 30px;
	font-weight: bold;
}

header span {
	color: #77a466;
}

nav ul li {
    display: inline-block;
    list-style: none;
    color: #77a466;
    font-size: 14px;
    padding: 20px 0 0 20px;
    font-weight: bold;
}

nav ul li a{
	text-decoration: none;
	color: #77a466;
}

nav {
	float: right;
}

/***************HOME*************/

#home h2 {
	color: #77a466;
	font-size: 18px;
}

#home p {
	font-size: 16px;
	margin: 0;
	padding: 0 0 30px 0;
	text-transform: none;
	border-bottom: 1px solid #dedbdc;
}

/***************INFO*************/

#info h3 {
	font-size: 12px;
}

#info p {
	font-size: 16px;
	text-transform: none;
}


#info #specials {
	padding: 30px 30px 0 0;
}

#info #reviews {
	border-right: 1px solid #dedbdc;
	border-left: 1px solid #dedbdc;
	padding: 30px;
}

#info #address {
	padding: 30px 0 0 30px;
}

#info li {
	list-style: none;
	line-height: 30px;
	color: #77a466;
	text-transform: none;
}

/***************FOOTER************/

#footer h1 {
	clear: both;
	font-size: 16px;
	padding: 35px;
	text-align: center;
	border-top: 1px solid #dedbdc;
}

#footer span#fresh {
	font-family: 'Wisdom Script Regular';
	text-transform: lowercase;
	font-size: 14px;
	color: #77a466;
}

